<div class="container">
  <div class="card">
    <img src="icons/logo_Repo.png" alt="Logo de la Aplicación" class="app-logo" />
    
    <div class="card-header">¡Hola!</div>
    
    <div class="card-body">
      <p>Inicia sesión para comenzar</p>
      
      <div class="auth-options">
        <!-- Cambiado a auth-button-google para ser más específico -->
        <button type="button" (click)="signInWithGoogle()" class="auth-button-google">
          <span class="google-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512">
              <path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"/>
            </svg>
          </span>
          <span>Continuar con Google</span>
        </button>

        <div class="divider">
          <span>o</span>
        </div>
      </div>

      <div class="error-message" *ngIf="showError">
        {{ errorMessage }}
      </div>
      
      <form class="login-form">
        <label>Usuario o correo electrónico</label>
        <input
          type="email"
          placeholder="Usuario o correo electrónico"
          [(ngModel)]="usuario.email"
          name="email"
          (input)="onInputChange()"
          [class.input-error]="showError">
        
        <label>Contraseña</label>
        <input
          type="password"
          placeholder="Contraseña"
          [(ngModel)]="usuario.password"
          name="password"
          (input)="onInputChange()"
          [class.input-error]="showError">
        
        <div class="remember-me">
          <input type="checkbox" id="remember-me"/>
          <label for="remember-me">Recordarme</label>
        </div>
        
        <!-- Cambiado a auth-button-primary para el botón principal -->
        <button type="button" (click)="Ingresa()" class="auth-button-primary">
          Iniciar sesión
        </button>
      </form>
    </div>
  </div>
</div>